name: Release

on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 2

      - name: Check versions
        id: version-check
        run: |
          git checkout HEAD -- package.json
          curr="$(jq -r '.version' package.json)"
          git checkout HEAD~1 -- package.json
          prev="$(jq -r '.version' package.json)"
          if [[ "$curr" != "$prev" ]]; then
            echo "version-changed=true" >> $GITHUB_OUTPUT 
          else
            echo "version-changed=false" >> $GITHUB_OUTPUT 
          fi

      - name: Set up Node.js
        if: steps.version-check.outputs.version-changed
        uses: actions/setup-node@v2
        with:
          node-version: 18

      - name: Install dependencies
        if: steps.version-check.outputs.version-changed
        run: yarn install

      - name: Release
        if: steps.version-check.outputs.version-changed
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          yarn publish

      - name: Create GitHub release
        if: steps.version-check.outputs.version-changed
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: v${{ steps.version-check.outputs.version-changed }}
          release_name: Release ${{ steps.version-check.outputs.version-changed }}
          body: |
            $(git log --format=%B -n 1 ${{ github.sha }})
          draft: false
          prerelease: false
